@import "bootstrap/bootstrap.less";

*,p,textbox,input {
	font-family: Trebuchet MS, Sans-Serif;
}

body {
  background-color: #f3f6fa;
  background: url('/img/linenbkgd.jpg');
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: Trebuchet MS, Sans-Serif;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Stefan Happer
   ========================================================================== */

.navbar-inner {
	background-color: #f3f6fa;
	  background: url('/img/linenbkgd-blue.jpg');
	background-image: none;
	box-shadow: none;
}

.navbar-inner .container {  
	background-color: #fff;  
	.shadow;
}

html.lt-ie9 .navbar-inner .container { .ieborder; }
 
#logo {
 	width: 300px;
 	margin: 8px 0 5px 0;
 	padding: 0 0 0 21px;
 }

#main,
#right,
#welcome {
	margin-top: 20px;
}

.box {
	background-color: #fff;
	.shadow;
}

html.lt-ie9 .box { .ieborder; }

#welcome {
	display: none;
	.shadow;
	.gradient;
}

html.lt-ie9 #welcome { .ieborder; }

#welcome .pad {
	padding: 25px 30px;
}

#welcome p.info {
    font-size: 15px;
    margin: 15px 0;
    padding: 0;
}


footer {
	clear: both;
	.shadow;
}

html.lt-ie9 footer { .ieborder; }

footer .partner {
	font-size: 18px;
	padding: 25px 30px 25px 30px;
	.gradient;
	border-bottom: 1px solid #cedded;
}

footer .credits {
	padding: 10px 30px 10px 30px;
	.gradient;
}

html.lt-ie9 footer .credits { .ieborder; }

footer .credits p {
	font-size: 10px;
	margin: 0;
}

.hero-unit {
	display: none;
}

.p-pager {
	margin: 20px 0;
	text-align: center;
}

.items {
	padding: 0 0 5px 0;
	background-color: #fff;
	margin: 0 0 20px 0;
	.shadow;
}

html.lt-ie9 .items { .ieborder; }

.border-line {
	border-bottom: 1px dotted #E0DFEE;
}

.item {
	padding: 10px 30px;
	.border-line;
}

.item:last-child {
	border-bottom: none;
}

.item a.newstitle strong { font-family: Trebuchet MS, Sans-Serif; }

.size-0 strong { font-size: 25px; line-height: 28px; }
.size-1 strong { font-size: 20px; line-height: 24px; }
.size-3 strong { font-size: 15px; line-height: 20px; }

.item .description {
    font-size: 11px;
    line-height: 14px;
    margin: 0 0 5px 0;
    padding: 0;
}


.item a.newstitle:hover {
	text-decoration: none;	
}

.item a.newstitle:hover strong {
	text-decoration: underline;
}

.item a.newstitle:hover .description,
.item a.newstitle:hover .sourcelink {
	text-decoration: none;
}


.item .sourcelink {
	font-size: 10px;
	color: #669;
	margin: 0 0 0px 0;
	text-decoration: none;
}

.item .description .source {
	font-weight: bold;
}

a {
	color: #006;
}

a:hover {
	color: #009;
}

.warning {
	background-color: #FCF8E3;
}

.box {
	margin-bottom: 20px;
}

.box .title {
	.hpad;
	font-size: 11px;
	padding-top: 2px;
	padding-bottom: 2px;
	.gradient;
}

.items .title {
	font-size: 11px;
	padding: 2px 30px;
	.gradient;
	margin: 0 0 5px 0;
}

.box .content {
	.vpad;
	.hpad;
	.border-line;
	font-size: 11px;
	line-height: 14px;
}

#right .content .description {
	margin-top: 4px;
}

.box .content:last-child {
	border-bottom: none;
}

.partner .logo {
	float: right;
	margin: 2px 0 5px 10px;
}

.partner strong {
	font-size: 12px;
}

#intro {
	display: none;
}

.bold {
	font-weight: bold;
}

/* ----- sizing --------------------------------------------------------------------------------- */

.pad {
	.hpad;
	.vpad;
}

.hpad {
	padding-left: 15px;
	padding-right: 15px;
}

.vpad {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* ----- fine tuning ---------------------------------------------------------------------------- */

#intro .textbox,
#welcome .textbox {
	margin-left: -1px;
}

.close {
	opacity: 0.4;
}

.close:hover {
	opacity: 0.6;
}

/* ----- styling -------------------------------------------------------------------------------- */

.shadow {
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px #000;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.gradient {
	background-color: #dbe6f2;
	background: -moz-linear-gradient(center top , #f3f6fa, #dbe6f2);
	background: -webkit-linear-gradient(top, #f3f6fa, #dbe6f2);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f6fa), color-stop(100%, #dbe6f2));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f6fa', endColorstr='#dbe6f2');
}


.ieborder {
	border: 1px solid #cedded;
}

/* ----- quotes --------------------------------------------------------------------------------- */

.features-wrapper {
	background-color: #fff;
  padding-top: 50px;
	margin-top: 20px;
	text-align: center;
	display: none;
	.shadow;
	.gradient;
}

html.lt-ie9 .features-wrapper { .ieborder; }

.features {
	padding: 0 25px;
}

.features span.quote {
	display: block;
	text-align: center;
	font-size: 20px;
	line-height: 28px;
	font-family: Georgia, Times, serif;
	margin: 10px auto 10px auto;
	color: #333;
	quotes: "\201C" "\201D";
}

.features span.quote:before {
	content: open-quote;
	color: #999;
}

.features span.quote:after {
	content: close-quote;
	color: #999;
}

.features span.author {
	display: block;
	text-align: center;
	font-size: 11px;
	color: #444;
}



// -------------------------------------------------------------------------------------------------------------------------------------------------------------
// RESPONSIVE CSS


// large display

@media (min-width: 1200px) {

	.ad .content {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
	}

}

// default display

@media (min-width: 960px) and (max-width: 1200px) {

	.ad {
		height: 250px;
		overflow: hidden;
	}
	
	.ad .content {
		padding: 0;
	}

}


// up to landscape phone

@media (max-width: 480px) {
	
	#logo {
 		width: 240px;
 		margin: 4px 0 2px 0;
 		padding: 0 0 0 0px;
 	}
 	
 	#welcome .pad {
		padding: 10px;
	}
	
	#welcome h1 {
		font-size: 24px;
		line-height: 26px;
	}
	
	.items {
		border-bottom: 1px solid #E0DFEE;
		padding: 5px 10px;
		border-right: none;
	}
	
	#welcome,
	#main {
		margin-top: -20px;
	}
	
}