@import "bootstrap/bootstrap.less";

body {
  background-color: #F6F6FC;
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Stefan Happer
   ========================================================================== */


.navbar-inner {
	background-color: #fff;
    background-image: none;
    
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
    
    x-background-image: -moz-linear-gradient(center top , #FCFCFC, #F9F9F9);
    
    x-border-bottom: 1px solid #EEE;
    
 }
 
#logo {
 	width: 300px;
 	margin: 8px 0 5px 0;
 	padding: 0 0 0 21px;
 }

#main,
#right,
#welcome {
    x-box-shadow: 0px 0px 6px #000;
    x--moz-box-shadow: 0px 0px 6px #000;
    background-color: #fff;
    
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#welcome {
	margin-top: 20px;
	margin-bottom: 20px;
	
	background: -moz-linear-gradient(center top , #DEF, #CDF);
	background: -webkit-linear-gradient(top, #F3F3F9, #ECEBF4);
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3F3F9), color-stop(100%, #ECEBF4));

}

#welcome .pad {
	padding: 30px;
}

footer {
	clear: both;
	padding: 25px 60px;
}

.hero-unit {
	display: none;
}


#right .pad {
	padding: 20px; 
}

.p-pager {
	margin: 20px 0;
	text-align: center;
}

.items {
	border-bottom: 1px solid #E0DFEE;
	padding: 15px 30px;
	border-right: 1px solid #E0DFEE;
}

.item {
	padding: 10px 0;
}

.item a.newstitle strong { font-family: Trebuchet MS, Sans-Serif; }

.size-0 strong { font-size: 25px; line-height: 28px; }
.size-1 strong { font-size: 20px; line-height: 24px; }
.size-3 strong { font-size: 15px; line-height: 20px; }

.item .description {
    font-size: 11px;
    line-height: 14px;
    margin: 0 0 5px 0;
    padding: 0;
}


.item a.newstitle:hover {
	text-decoration: none;	
}

.item a.newstitle:hover strong {
	text-decoration: underline;
}

.item a.newstitle:hover .description,
.item a.newstitle:hover .sourcelink {
	text-decoration: none;
}


.item .sourcelink {
	font-size: 10px;
	color: #669;
	margin: 0 0 0px 0;
	text-decoration: none;
}

.item .description .source {
	font-weight: bold;
}

a {
	color: #006;
}

a:hover {
	color: #009;
}


// -------------------------------------------------------------------------------------------------------------------------------------------------------------
// RESPONSIVE CSS

// up to landscape phone

@media (max-width: 480px) {
	
	#logo {
 		width: 180px;
 		margin: 4px 0 2px 0;
 		padding: 0 0 0 0px;
 	}
 	
 	#welcome .pad {
		padding: 10px;
	}
	
	.items {
		border-bottom: 1px solid #E0DFEE;
		padding: 5px 10px;
		border-right: none;
	}
	
	#welcome,
	#main {
		margin: -20px 0;
	}
	
}