{% extends '::base.html.twig' %}

{% block main %}

  <div class="items">
    <div class="title"><h2>Impressum</h2></div>
    <div class="item">
      <h3>Herausgeber</h3>
      <address>
        Verein Europapolitik Online<br />
        Gallitzinstr. 67<br />
        AT-1160 Wien
      </address>
    </div>
  </div>
  
  <div class="items warning">
    <div class="title"><h3>Wichtiger rechtlicher Hinweis</h3></div>
    <div class="item warning">
      Die Angaben auf diesen Webseiten unterliegen einer Erkl&auml;rung &uuml;ber den <a href="#haftung">Haftungsausschluss</a>,
      einem <a href="#copyright">Copyright-Vermerk</a> sowie den <a href="#datenschutz">Bestimmungen zum Schutz personenbezogener Daten</a>.
    </div>
  </div>
    
  <div class="items">
    <div class="title bold">Über Politikportal.eu</div>
    <div class="item">
      <p>Politikportal.eu verfolgt die folgenden Ziele (Auszug aus den Statuten des Vereins Europapolitik Online):</p>
      <ul>
        <li class="small">Die Aufbereitung, das zur Verf&uuml;gung stellen und die Verbreitung von Daten, Information und Wissen &uuml;ber die Aktivit&auml;ten und Entscheidungsprozesse der Europ&auml;ischen Union mit Hilfe von neuen Technologien, <br /><br /></li>
        <li class="small">das Veranschaulichen und zug&auml;nglich machen verschiedener Standpunkte in den europapolitischen Debatten, um zu einem besseren Verst&auml;ndnis von sozialen, wirtschaftlichen und rechtlichen Zusammenh&auml;ngen in der Europ&auml;ischen Union und zwischen den Mitgliedstaaten beizutragen <br /><br /></li>
        <li class="small">die Unterst&uuml;tzung der Entwicklung einer europ&auml;ischen Zivilgesellschaft und einer europ&auml;ischen &Ouml;ffentlichkeit<br /><br /></li>
        <li class="small">die Vernetzung mit Vereinigungen und Organisationen, die die selben oder &auml;hnliche Ziele verfolgen.</li>
      </ul>
    </div>
  </div>
  
  <div class="items">
    <div class="title bold"><a name="haftung">Haftungsauschluss</a></div>
    <div class="item">
      Die Auswahl der Links und die Erstellung der Inhalte erfolgen mit gr&ouml;&szlig;ter Sorgfalt. Alle Links werden von Hand ausgewählt.
      F&uuml;r die Richtigkeit, Vollst&auml;ndigkeit und Aktualit&auml;t der Inhalte sowie für die Inhalte von verlinkten Seiten k&ouml;nnen wir jedoch keine Gew&auml;hr &uuml;bernehmen.
      
    </div>
  </div>
  
  <div class="items">
    <div class="title bold"><a name="copyright">Copyright</a></div>
    <div class="item">
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem Urheberrecht.
      Beitr&auml;ge Dritter sind als solche gekennzeichnet.
      Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung au&szlig;erhalb der Grenzen des Urheberrechtes bed&uuml;rfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
    </div>
  </div>
  
  <div class="items">
    <div class="title bold"><a name="datenschutz">Datenschutz</a></div>
    <div class="item">
      Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit m&ouml;glich, stets auf freiwilliger Basis. Der Nutzer erkl&auml;rt sich mit der elektronischen Speicherung der Daten einverstanden. In keinem Fall werden persönliche Daten an Dritte weitergegeben.
      <br /><br />
      
      <p><small>
        <strong>Datenschutzerklärung für die Nutzung von Google Analytics</strong><br />
        Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt.
        Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
        Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank"><small>http://tools.google.com/dlpage/gaoptout?hl=de</small></a>.
      </small></p>
      
      <p><small>
        <strong>Datenschutzerklärung für die Nutzung von Google Adsense</strong><br />
        Diese Website benutzt Google AdSense, einen Dienst zum Einbinden von Werbeanzeigen der Google Inc. ("Google"). Google AdSense verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website ermöglicht. Google AdSense verwendet auch so genannte Web Beacons (unsichtbare Grafiken). Durch diese Web Beacons können Informationen wie der Besucherverkehr auf diesen Seiten ausgewertet werden.
        Die durch Cookies und Web Beacons erzeugten Informationen über die Benutzung dieser Website (einschließlich Ihrer IP-Adresse) und Auslieferung von Werbeformaten werden an einen Server von Google in den USA übertragen und dort gespeichert. Diese Informationen können von Google an Vertragspartner von Google weiter gegeben werden. Google wird Ihre IP-Adresse jedoch nicht mit anderen von Ihnen gespeicherten Daten zusammenführen.
        Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
      </small></p>
    </div>
  </div>
      
{% endblock %}