{% extends '::base.html.twig' %}

{% block body %}
     Hallo {{ name }}!
{% endblock %}
 

{% block description %}
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nibh odio, cursus eu cursus placerat, pellentesque vitae justo. Cras eros mi, vehicula viverra pretium vel, sagittis a risus. Cras at lacus ipsum. Suspendisse potenti. In iaculis magna in risus auctor aliquam posuere nunc luctus.
{% endblock %}


{% block main %}

    <table class="table table-bordered table-condensed">
    
    	<thead>
    		<tr>
        		<th>Name</th>
        		<th>Status</th>
        		<th>Action</th>
    		</tr>
    	</thead>


    	{% for source in sources %}
        
        	<tr>
        	
        		<td>{{ source.name }}</td>
        		<td>{{ source.status }}</td>
				<td>
					
					<div class="btn-toolbar" style="margin-bottom: 9px">
						<div class="btn-group btn-mini">

							<a class="btn-primary btn-mini" href="#">
								<i class="icon-user icon-white"></i>
								{{ source.name }}
							</a>
							
							<a class="btn {% if source.status %} btn-primary {% endif %}btn-mini dropdown-toggle" href="#" data-toggle="dropdown">
								<span class="caret"></span>
							</a>
							
							<ul class="dropdown-menu">
								<li><a href="#"><i class="icon-pencil"></i>Edit</a></li>
								<li><a href="#"><i class="icon-trash"></i>Delete</a></li>
								<li><a href="#"><i class="icon-ban-circle"></i>Ban</a></li>
								<li class="divider"></li>
								<li><a href="#"><i class="i"></i>Make admin</a></li>
							</ul>
						</div>
					</div>

				</td>
				
        	</tr>
    
    	{% else %}
        	<code>No sources found</code>
    	{% endfor %}
    
    </table>

{% endblock %}