{% extends '::base.html.twig' %}

{% block body %}
     Hallo {{ name }}!
{% endblock %}
 

{% block description %}
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nibh odio, cursus eu cursus placerat, pellentesque vitae justo. Cras eros mi, vehicula viverra pretium vel, sagittis a risus. Cras at lacus ipsum. Suspendisse potenti. In iaculis magna in risus auctor aliquam posuere nunc luctus.
{% endblock %}


{% block main %}

    <table class="table table-bordered table-condensed">
    
    	{% for source in sources %}
        
        	<tr>
        	
        	    {% for key in source|keys %}

        		<th>{{ key }}</th>

		    	{% else %}
    		    	<li>No keys</li>
		    	{% endfor %}

        	    {% for field in source %}

        		<td>{{ field }}</td>

		    	{% else %}
    		    	<li>No fields</li>
		    	{% endfor %}

        	</tr>
    
    	{% else %}
        	<li>No sources found</li>
    	{% endfor %}
    
    </table>

{% endblock %}