{% extends '::base.html.twig' %}

{% block body %}
     Welcome!
{% endblock %}
 

{% block description %}
	This is the new Politikportal homepage.
{% endblock %}


{% block main %}

	{% for topic in topics %}
	
    	<div class="items">
        <div class="title">
          <a href="{{ url('topic', { topic : topic.url }) }}">{{ topic.title }}</a>
        </div>

    	{% for item in topic.items %}
        
        	{% include "PolitikportalBundle:Default:item.html.twig" with { 'item' : item } only %}
			    
    	{% else %}

        	<div class="alert">No topics</div>

    	{% endfor %}


    	</div>


	{% endfor %}
	
{% endblock %}


{% block sidebar %}

	Version: {{ heading }}
	
{% endblock %}