PolitikportalBundle_homepage:
    pattern:  /hello/{name}
    defaults: { _controller: PolitikportalBundle:Front:index }

source:
    pattern:  /source/{source}
    defaults: { _controller: PolitikportalBundle:Source:getSource }
    
sources:
    pattern:  /sources/{page}
    defaults: { _controller: PolitikportalBundle:Source:getSources, page: 1 }
    
subscribe:
    pattern:  /subscribe
    defaults: { _controller: PolitikportalBundle:User:subscribeUser}
    
topics:
    pattern:  /topics
    defaults: { _controller: PolitikportalBundle:Topic:getTopics }
    
main:
    pattern:  /
    defaults: { _controller: PolitikportalBundle:Main:getHomepage }
    
addsid:
    pattern:  /addSid
    defaults: { _controller: PolitikportalBundle:Source:AddSid }
    
testCache:
    pattern:  /testCache
    defaults: { _controller: PolitikportalBundle:Main:testCache }