PolitikportalBundle_homepage:
    pattern:  /hello/{name}
    defaults: { _controller: PolitikportalBundle:Front:index }

source:
    pattern:  /source/{source}
    defaults: { _controller: PolitikportalBundle:Sources:getSource }